name: Build

# Controls when the workflow will run
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v2
      - name: Builds Code
        uses: fishsticks89/pros-build@v1
